
/*body {}*/
 
.search-form {
    display: flex !important;
    justify-content: center !important;
    height: 50px;
    margin: 15px 0 35px -10px !important;
}

.form-control {
    width: 750px !important;
}

.photo-card {
    display: flex;
    width: auto;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px;
    margin-left: 25px;
    margin-right: auto;
}

.photo-one-card {
    display: flex;
    flex-direction: column;
    width: 452px;
    height: 317px;
    border: 1px solid #8e8f99;
}

.info {
    display: flex;
    align-items: space-between;
    gap: 20px;
    justify-content: center;
    border-bottom: 2px solid #8e8f99;
}

.info-item {
    display: block;
}